.container .caption {
  @include caption($blue);
  margin-top: 5px;
}

.container-third .caption {
  padding-left: 1rem
}

@include mq($until: desktop) {
  .container .caption {
    padding-left: 0rem;
  }
}
