// Honorees.
.honoree .cards {
  display: flex;
  flex-direction: row;

  .card {
    flex-basis: 50%;
  }

  .card-first .portrait-inset-wrapper {
    display: none;
  }

  .card-second {
    flex-basis: 50%;
  }

  @include mq($until: desktop) {
    flex-direction: column;

    .card {
      flex-basis: 100%;
    }

    .card-first .portrait-inset-wrapper {
      display: flex;
      flex-direction: column;
    }

    .card-second {
      display: none;
    }
  }

  h2:nth-child(2) {
    margin-bottom: 1rem;
  }
}

// Gates.
.container-third {
  .honoree .cards {
    flex-direction: row-reverse;
  }
}

// Auction.
.container .auction .cards {
  display: flex;
  flex-direction: column;
}

.container .committee {
  display: flex;
  flex-direction: column;
}

// Card padding.
.container .honoree .card-first {
  .portrait-inset-wrapper {
    margin: 1rem 0rem !important;
  }
}

.container .auction .card {
  padding-bottom: 2rem;
  &:last-child {
    padding-bottom: 0;
  }
}

// Card typography.
.container-second,
.container-third {
  .honoree h2 {
    @include title-sans-condensed($blue);

    &:nth-child(2) {
      // margin-bottom: 1rem;
    }
  }

  .honoree p {
    @include body($blue);

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}

.container-fourth {
  .auction h3 {
    @include label($blue);
    @include font-size($font-label-large);
  }
  .auction p {
    @include body($blue);
  }
  .auction .card:nth-child(1) p {
    @include font-size($font-medium);
  }
  .auction .card:nth-child(2) p {
    @include font-size($font-medium);
  }
  .auction .card:nth-child(2) span {
    @include label($blue);
    @include font-size($font-label-large);
  }

  .auction .card:nth-child(3) h3 {
    padding-bottom: 1rem;
  }
}

.container-fifth {
  .committee h3 {
    @include label($white);
    @include font-size($font-label-small);
    margin-bottom: 0.5rem;
    letter-spacing: 0.02rem;
  }

  .committee .card:first-child p {
    @include body($white);
    @include font-size($font-label-large) margin-top: 2rem;
    margin-bottom: 3rem;
  }

  .committee .card:not(:first-child) {
    @include body($white);
    margin-bottom: 1.5rem;
  }
  .committee .card:last-child {
    margin-bottom: 0;
  }
}
