header {
  margin: 0 auto;
  max-width: 1280px;
}

.brand {
  background-color: $black;
  color: $yellow;
  font-family: $serif;
  text-align: center;
  padding: 0.5rem 1rem;
}

.card-title {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.title-item:first-child {
  flex-basis: 20%;
}

// Header, typography.
.title-group h1 {
  @include title-marquee;
}

.lede {
  @include body($yellow);
}

@include mq($until: tablet) {
  .card-title {
    display: none;
  }
}
