.container-first {
  // position: sticky;
  // top: 0;
  background-color: $blue;
  .wrapper {
    @include max-width;

    .wrapper-video {
      position: relative;
      overflow: hidden;
      width: 100%;
      padding-top: 56.25%;
    }

    .video {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }

    iframe {
      // fix dimensions
      width: 1280px;
      height: 650px;
    }
  }
}

iframe {
  width: 1200px;
  height: auto;
}
