
.container-title {
  margin: 0 auto;
  padding: 3rem 1rem;
  background-color: $blue;
}

.container-title .title-wrapper {
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 40vw;
}

.container-title .title-item {
  flex-basis: 50%;
}

@include mq($until: tablet) {
  .card-title {
    display: none;
  }
}

.container-title h1 {
  @include title-marquee;
  font-family: $headline;
}

.container-title h1.dash {
  line-height: 0.5;
}

.container-title h2.lede {
  @include title-marquee;
}
