@font-face {
  font-family: "Dignitas Bold";
  src: url("../fonts/Dignitas-Bold.woff2") format("woff2"),
    url("../fonts/Dignitas-Bold.woff") format("woff"),
    url("../fonts/Dignitas-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Dignitas-Bold-Italic";
  src: url("../fonts/Dignitas-Bold-Italic.woff2") format("woff2"),
    url("../fonts/Dignitas-Bold-Italic.woff") format("woff"),
    url("../fonts/Dignitas-Bold-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Dignitas-Italic";
  src: url("../fonts/Dignitas-Italic.woff2") format("woff2"),
    url("../fonts/Dignitas-Italic.woff") format("woff"),
    url("../fonts/Dignitas-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Dignitas-Regular";
  src: url("../fonts/Dignitas-Regular.woff2") format("woff2"),
    url("../fonts/Dignitas-Regular.woff") format("woff"),
    url("../fonts/Dignitas-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Trade Gothic";
  src: url("../fonts/TradeGothic.woff2") format("woff2"),
    url("../fonts/TradeGothic.woff") format("woff"),
    url("../fonts/TradeGothic.ttf") format("truetype");
}

@font-face {
  font-family: "TradeGothic-BoldCondTwenty";

  src: url("../fonts/TradeGothic-BoldCondTwenty.woff2") format("woff2"),
    url("../fonts/TradeGothic-BoldCondTwenty.woff") format("woff"),
    url("../fonts/TradeGothic-BoldCondTwenty.ttf") format("truetype");
}

@font-face {
  font-family: "FlechaM-Light";
  src: url("../fonts/FlechaM-Light.woff") format("woff");
}
