// Variables, fonts
@font-face {
  font-family: "Arial, Helvetica, sans-serif";
  // note this is relative to the webpack entry, index.js
  // src: url("../static/fonts/hinted-WorkSans-Regular.woff2");
  font-style: normal;
}

div {
  font-family: "Work Sans Regular";
}
