html {
  box-sizing: border-box;
  font-size: 18px;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

::selection {
}

.hidden {
  display: none;
}

a {
  text-decoration: none;
}
