html {
  box-sizing: border-box;
}

body {
  font-family: seriph;
}

a {
  font-family: 'UniversLTStd-Obl';
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

::selection {
  background: $color-primary;
}

.hidden {
  display: none;
}

a {
  text-decoration: none;
}

