.container-buttons,
.container-second,
.container-third,
.container-fourth,
.container-fifth {
  .wrapper {
    @include max-width;
  }
}

.container-buttons {
  background: $blue;
}

.container-second,
.container-third {
  background: $yellow;
}

.container-fifth {
  background: $blue;
}

// Padding.
.container-second,
.container-third {
  .card-first {
@include padding-rl;
  }
}

.container-second,
.container-third {
  padding-top: 3rem;
}

.container-third {
  padding-bottom: 3rem;
}

.container-fourth {
    @include padding-tb;
@include padding-rl;
}

.container-fifth {
  @include padding-tb;
  @include padding-rl;
}
