.container-buttons,
.container-second,
.container-third,
.container-fourth,
.container-fifth {
  .wrapper {
    @include max-width;
  }
}

.container-buttons {
  background: $blue;
}

.container-second,
.container-third {
  background: $yellow;
}

.container-fifth {
  background: $blue;
}

// Vertical padding.
.container-second,
.container-third {
  padding-top: 3rem;
}

.container-third {
  padding-bottom: 3rem;
}

.container-fourth {
  padding: 3rem;
}

.container-fifth {
  padding: 3rem;
}
