/* Main */
@charset "utf-8";

// @import "utilities/all";
// @import "variables/all";
// @import "base/all";
// @import "layout/all";
// @import "components/all";

:root {
  --mainColor: #12345678;
  font-family: system-ui;
}

a {
  transition: transform 1s;
}

@mixin autoprefixer-test {
  user-select: none;
}

.autoprefixer-test {
  @include autoprefixer-test;
  color: var(--mainColor);
}
.container {
  max-width: 720px;
  margin: 0 auto;
}

body {
     counter-reset: sidenote-counter;
}

.step {

  line-height: 1.4;
  padding: 1rem;
  margin: 1rem;
  background-color: #3b3b3b;
  color: #fff;
}

.sidenote-number {
  counter-increment: sidenote-counter;
}

.sidenote-number:after {
    content: counter(sidenote-counter);
    font-size: 1rem;
    top: -0.5rem;
    left: 0.1rem;
}

.sidenote {
    float: right;
    clear: right;
    margin-right: -60%;
    width: 50%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.1rem;
    line-height: 1.3;
    vertical-align: baseline;
    position: relative;
    color: red;
}

.sidenote:before {
    content: counter(sidenote-counter) " ";
    font-size: 1rem;
    top: -0.5rem;
}

.sidenote {
  position: sticky;
}

.sidenote {
    opacity:0;
    transition: opacity .5s;
}

.is-active .sidenote {
  color: purple;
  opacity: 1;
}
